/bin/
/logs/
/SkosShopper/fuseki/log
/SkosShopper/fuseki/Data/outputfromProgramm.owl
/fuseki/log
/fuseki/Data/outputfromprogramm.owl
SkosShopper/fuseki/log
SkosShopper/fuseki/Data/outputfromProgramm.owl
fuseki/log
fuseki/Data/outputfromprogramm.owl